.card-grid {
  display: grid;
  border-radius: 20px;
  border: solid transparent;
  overflow: hidden;
}
.card-grid .card-img {
  background-color: yellow;
  display: flex;
}
.card-grid .card-img .img {
  background-image: url("../images/image-product-mobile.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 70%;
}
.card-grid .card-body {
  background-color: var(--white);
  padding: 1rem;
  margin-top: -3px;
}
.card-grid .card-body .card-title {
  font-family: var(--font-fraunces);
  font-size: 2rem;
}
.card-grid .card-body .card-subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.75rem;
  font-family: var(--font-montserrat);
}
.card-grid .card-body .price {
  color: var(--dark-cyan);
  font-family: var(--font-fraunces);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
.card-grid .card-body .price .old-price {
  text-decoration: line-through;
  font-size: 1rem;
  margin-left: 2rem;
  flex-grow: 1;
}
.card-grid .card-body .btn {
  background-color: var(--dark-cyan);
  height: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  border-radius: 10px;
}
@media (max-width: 40rem) {
  .card-grid {
    grid-template-rows: 0.5fr 1fr;
  }
}
@media (min-width: 30rem) {
  .card-grid {
    display: inline-grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 0;
    grid-auto-rows: 0;
    width: 32rem;
  }
  .card-grid .card-body {
    margin-top: 0;
  }
  .card-grid .card-body .card-title {
    font-size: 1.25rem;
  }
  .card-grid .card-img {
    width: 37.5rem;
    height: auto;
  }
  .card-grid .card-img .img {
    aspect-ratio: 1;
    background-image: url("../images/image-product-desktop.jpg");
  }
}