:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-fraunces: "Fraunces", serif;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --text-color: var(--dark-grayish-blue);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font-montserrat);
  background: var(--cream);
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}
@media (min-width: 71.875em) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: initial;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  padding: 1.25rem 1.5625rem;
  max-width: 90vh;
  margin: 0 auto 2.875rem;
  display: grid;
  justify-content: center;
}
.card-grid {
  display: grid;
  border-radius: 20px;
  border: solid transparent;
  overflow: hidden;
}
.card-grid .card-body {
  background-color: var(--white);
  padding: 1rem;
  margin-top: -3px;
}
.card-grid .card-title {
  font-family: var(--font-fraunces);
  font-size: 2rem;
}
.card-grid .card-subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.75rem;
  font-family: var(--font-montserrat);
}
.card-grid img {
  max-width: 100%;
}
.card-grid .price {
  color: var(--dark-cyan);
  font-family: var(--font-fraunces);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
.card-grid .price .old-price {
  text-decoration: line-through;
  font-size: 1rem;
  margin-left: 2rem;
  flex-grow: 1;
}
.card-grid .btn {
  background-color: var(--dark-cyan);
  height: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
  border-radius: 10px;
}
@media (max-width: 45rem) {
  .card-grid .container {
    background: red;
  }
  .card-grid .card-grid {
    min-width: none;
    grid-template-columns: repeat(2, auto);
  }
  .card-grid .card-body {
    background-color: red;
  }
}

footer {
  text-align: center;
}

.attribution {
  /* background-color: red; */
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}